Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace
Construction_VOL1
Construction_VOL2
GT_Free2020
NecrosUtilityMatPack
WaterMaterials
Overview.umap
IndustryPropsPack6
LPGenericPropsSet02
LPGenericPropsSet04
LPGenericPropsSet06
LPGenericPropsSet08
LPGenericPropsSet10
